{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'css/invitation.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="container bg-yellow" id="invitation-body">
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <card id="invitation-details">
            <h2>Hi {{ party.name }},</h2>
            <p class="mt-3">Thank you for responding.</p>
            {% if party.any_guests_attending %}
                <p>We look forward to celebrating our big day with you in {{ wedding_venue }}.</p>
                <p>If you have any other questions, do not hesitate to email us at
                    <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
                </p>
            {% else %}
                <p>We are sorry you would not be able to join us in {{ wedding_venue }}.</p>
                <p>We look forward to catching up with you some other time!</p>
            {% endif %}
            <p class="text-muted">- {{ bride_and_groom }}</p>
        </card>
    </div>
</div>
{% endblock %}