        <!-- Accommodation Section-->
        {% load static %}
        <section class="projects-section" id="accommodation">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/venue.jpg' %}" alt="proposal" />
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Accommodation</h1>
                            <p class="text-black-50 my-5 mb-0">Far from home, yet close in heart,</p>
                            <p class="text-black-50 mb-0">We welcome you here, never to part.</p>
                            <p class="text-black-50 mb-0">A place to rest, to laugh and to stay,</p>
                            <p class="text-black-50 mb-0">After you join our love’s grand display.</p>
                            <p class="my-5 mb-0">Limited number of rooms at Bourton Hall awaits,</p>
                            <p class="mb-0">You will need to book and plan way ahead.</p>
                            <p class="mb-0">In case venue is booked and you cannot reserve,</p>
                            <p class="mb-0">There are hotels below as your alternative.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="m-0">Travelodge Rugby Dunchurch</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">1.2 miles away</div>
                            </div>
                        </div>
                   </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="m-0">The Rugby Hotel</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">5.0 miles away</div>
                            </div>
                        </div>
                   </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="m-0">Citrus Hotel Coventry by Compass Hospitality</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">5.2 miles away</div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </section>