        <!-- Accommodation Section-->
        <section class="page-section" id="accommodation">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Accommodation</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <p class="lead">Far from home, yet close in heart,</p>
                        <p class="lead">We welcome you here, never to part.</p>
                        <p class="lead">A place to rest, to laugh and to stay,</p>
                        <p class="lead">After you joined our love’s grand display.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">The doors are open, the pillows are soft,</p>
                        <p class="lead">A place for comfort, to dream aloft.</p>
                        <p class="lead">So rest your body after the grand day,</p>
                        <p class="lead">Thanks for witnessing our love’s sweet array.</p>
                    </div>
                </div>
            </div>
        </section>