        <!-- Big Day Section-->
        <header class="masthead text-center" id="big-day">
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">Big Day</h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">Sunday, 31st of August 2025</p>
                <p class="masthead-subheading font-weight-light mb-0">Bourton Hall, Warwickshire, CV23 9QZ</p>
            </div>
            <div class="row">
                <!-- RSVP Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                        <i class="fas fa-envelope me-2"></i>
                        RSVP
                    </a>
                </div>
            </div>
        </header>