        <!-- Big Day Section-->
        <header class="masthead" id="big-day">
            <div class="container px-4 px-lg-5 d-flex h-50 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0">{{ couple_name }}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-1">Sunday, 31st of August 2025</h2>
                        <h2 class="text-white-50 mx-auto mt-2 mb-10">Bourton Hall, Warwickshire, CV23 9QZ</h2>
                        <a class="btn btn-primary" href="#contact">RSVP</a>
                    </div>
                </div>
            </div>
        </header>