        <!-- Ceremony Section-->
        <section class="page-section bg-yellow" id="ceremony">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ceremony</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <p class="lead">As the clock strikes noon, the doors open wide,</p>
                        <p class="lead">Bourton Hall welcome awaits, with hearts filled with pride.</p>
                        <p class="lead">For those staying the night, take your time, settle in,</p>
                        <p class="lead">Let the day’s magic gently begin.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">The vows we exchange, the love we proclaim,</p>
                        <p class="lead">In an intimate space, by candle’s soft flame.</p>
                        <p class="lead">With limited sixty seating capacity, our hearts will unite,</p>
                        <p class="lead">A love story unfolds, timeless and divine.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">But love knows no bounds, and neither does cheer,</p>
                        <p class="lead">Wedding reception begins as twilight draws near.</p>
                        <p class="lead">The bar opens at six and music will play,</p>
                        <p class="lead">Join us for sunshine, drinks, games, ice cream and Pimms.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">As music sways and love takes its flight,</p>
                        <p class="lead">We will all dance beneath the soft moonlight.</p>
                        <p class="lead">A cherished Filipino tradition of moment so sweet,</p>
                        <p class="lead">Where laughter and love twirl at our feet.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">If you wish to share a blessing so bright,</p>
                        <p class="lead">Clip a note or more notes as we dance through the night.</p>
                        <p class="lead">A token of joy, with wishes come true,</p>
                        <p class="lead">For the start of matrimonial life was made for us two.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">So bring an extra bill, can be big or small,</p>
                        <p class="lead">And join in the fun dance, there is room for us all.</p>
                    </div>
                </div>
            </div>
        </section>