        <!-- Gifting Section-->
        {% load static %}
        <section class="projects-section bg-yellow" id="gifting">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Honeymoon Fund</h1>
                            <p class="text-black-50 my-5 mb-0">Your love and presence are the greatest gifts,</p>
                            <p class="text-black-50 mb-0">But if you wish to send us adrift,</p>
                            <p class="text-black-50 mb-0">A honeymoon dream, a journey so bright,</p>
                            <p class="text-black-50 mb-0">A gift of adventure, a love-taking flight.</p>
                            <p class="my-5 mb-0">Not pots, not pans, nor things to store,</p>
                            <p class="mb-0">But memories we'll cherish for forevermore.</p>
                            <p class="mb-0">Should you wish to gift us this way?</p>
                            <p class="mb-0">We'll appreciate contribution to send us away.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/leo.jpg' %}" alt="proposal" />
                    </div>
                </div>
            </div>
        </section>