        <!-- Gifting Section-->
        <section class="page-section bg-yellow" id="gifting">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Honeymoon Fund</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <p class="lead">Your love and presence are the greatest gifts,</p>
                        <p class="lead">But if you wish to send us adrift,</p>
                        <p class="lead">A honeymoon dream, a journey so bright,</p>
                        <p class="lead">A gift of adventure, a love-taking flight.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">Not pots, not pans, nor things to store,</p>
                        <p class="lead">But memories we’ll cherish for forevermore.</p>
                        <p class="lead">Should you wish to gift us this way?</p>
                        <p class="lead">We will appreciate a bitcoin to send us away.</p>
                    </div>
                </div>
            </div>
        </section>