        <!-- Our Story Section-->
        {% load static %}
        <section class="projects-section bg-yellow" id="our-story">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/restaurant.jpg' %}" alt="sophia_and_chris" />
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Our Story</h1>
                            <p class="text-black-50 my-5 mb-0">It began in the lecture halls, where knowledge was shared,</p>
                            <p class="text-black-50 mb-0">Where books were our compass, and dreams were declared.</p>
                            <p class="text-black-50 mb-0">Amid deadlines and coffee, in Stag Hill's embrace,</p>
                            <p class="text-black-50 mb-0">Sophia and Chris' hearts found a rhythm, a slow, steady pace.</p>
                            <p class="my-5 mb-0">From Surrey's library whispers to long walks to the dorm,</p>
                            <p class="mb-0">Through seasons of study, our friendship was drawn.</p>
                            <p class="mb-0">A coursework romance, built lesson by lesson,</p>
                            <p class="mb-0">Until love took its place, our most precious confession.</p>
                            <p class="text-black-50 my-5 mb-0">Between ivy-clad walls and River Thames that gleam,</p>
                            <p class="text-black-50 mb-0">We painted our future, the start of a dream.</p>
                            <p class="text-black-50 mb-0">And as we step into forever’s embrace,</p>
                            <p class="text-black-50 mb-0">We carry our story of love, time, and grace.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>