        <!-- Our Story Section-->
        <section class="page-section bg-yellow" id="our-story">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Our Story</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <p class="lead">It began in the lecture halls, where knowledge was shared,</p>
                        <p class="lead">Where books were our compass, and dreams were declared.</p>
                        <p class="lead">Amid deadlines and coffee, in Stag Hill's embrace,</p>
                        <p class="lead">Sophia and Chris' hearts found a rhythm, a slow, steady pace.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">From Surrey's library whispers to long walks to the dorm,</p>
                        <p class="lead">Through seasons of study, our friendship was drawn.</p>
                        <p class="lead">A coursework romance, built lesson by lesson,</p>
                        <p class="lead">Until love took its place, our most precious confession.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">Between ivy-clad walls and River Thames that gleam,</p>
                        <p class="lead">We painted our future, the start of a dream.</p>
                        <p class="lead">And as we step into forever’s embrace,</p>
                        <p class="lead">We carry our story of love, time, and grace.</p>
                    </div>
                </div>
            </div>
        </section>