        <!-- The Proposal Section-->
        {% load static %}
        <section class="projects-section" id="proposal">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>The Proposal</h1>
                            <p class="text-black-50 my-5 mb-0">On a bright golden morning where roses bloom wide,</p>
                            <p class="text-black-50 mb-0">Where nature stood still and the world felt alive,</p>
                            <p class="text-black-50 mb-0">Within RHS Wisley gardens in sunshine’s embrace,</p>
                            <p class="text-black-50 mb-0">Chris knelt with a smile, with hope on his face.</p>
                            <p class="my-5 mb-0">The air, it was sweet, laced with jasmine and thyme,</p>
                            <p class="mb-0">A question was asked, so simple, so prime.</p>
                            <p class="mb-0">A soft gasp, a heartbeat, a joyful delight,</p>
                            <p class="mb-0">With teardrops like diamonds reflecting the light.</p>
                            <p class="text-black-50 my-5 mb-0">A promise was made in petals and breeze,</p>
                            <p class="text-black-50 mb-0">Two souls entwined beneath rustling trees.</p>
                            <p class="text-black-50 mb-0">Now forever begins where hydrangeas once swayed,</p>
                            <p class="text-black-50 mb-0">A love everlasting, in sunshine and shade.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/proposal.jpg' %}" alt="proposal" />
                    </div>
                </div>
            </div>
        </section>