        <!-- The Proposal Section-->
        <section class="page-section" id="the-proposal">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">The Proposal</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <p class="lead">On a bright golden morning where roses bloom wide,</p>
                        <p class="lead">Where nature stood still and the world felt alive,</p>
                        <p class="lead">Within RHS Wisley gardens in sunshine’s embrace,</p>
                        <p class="lead">Chris knelt with a smile, with hope on his face.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">The air, it was sweet, laced with jasmine and thyme,</p>
                        <p class="lead">A question was asked, so simple, so prime.</p>
                        <p class="lead">A soft gasp, a heartbeat, a joyful delight,</p>
                        <p class="lead">With teardrops like diamonds reflecting the light.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-xl-5">
                        <p class="lead">A promise was made in petals and breeze,</p>
                        <p class="lead">Two souls entwined beneath rustling trees.</p>
                        <p class="lead">Now forever begins where flowers once swayed,</p>
                        <p class="lead">A love everlasting, in sunshine and shade.</p>
                    </div>
                </div>
            </div>
        </section>