        <!-- Schedule Section-->
        {% load static %}
        <section class="projects-section bg-yellow" id="schedule">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/tagaytay.jpg' %}" alt="sophia_and_chris" />
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Wedding Ceremony</h1>
                            <p class="text-black-50 my-5 mb-0">As the clock strikes noon, the doors open wide,</p>
                            <p class="text-black-50 mb-0">Bourton Hall welcome awaits, with hearts filled with pride.</p>
                            <p class="text-black-50 mb-0">For those staying the night, take your time, settle in,</p>
                            <p class="text-black-50 mb-0">Let the day’s magic gently begin.</p>
                            <p class="my-5 mb-0">Two in the afternoon, our love we proclaim,</p>
                            <p class="mb-0">In an intimate space, by candle’s soft flame.</p>
                            <p class="mb-0">With limited seating capacity, our hearts will unite,</p>
                            <p class="mb-0">Apologies if not in, the hall is just tight.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 my-5">
                        <div class="text-center">
                            <h1>Wedding Reception</h1>
                            <p class="text-black-50 my-5 mb-0">But love knows no bounds, and neither does cheer,</p>
                            <p class="text-black-50 mb-0">Wedding reception begins as twilight draws near.</p>
                            <p class="text-black-50 mb-0">Bar opens at six and music will play,</p>
                            <p class="text-black-50 mb-0">Join us for sunshine, booze, games, ice cream and Pimms.</p>
                            <p class="my-5 mb-0">As music sways and love takes its flight,</p>
                            <p class="mb-0">We will all dance beneath the soft moonlight.</p>
                            <p class="mb-0">A cherished Filipino tradition of moment so sweet,</p>
                            <p class="mb-0">Where laughter and love twirl at our feet.</p>
                            <p class="text-black-50 my-5 mb-0">If you wish to share a blessing so bright,</p>
                            <p class="text-black-50 mb-0">Clip a note or more notes as we dance through the night.</p>
                            <p class="text-black-50 mb-0">A token of joy, with wishes come true,</p>
                            <p class="text-black-50 mb-0">For the start of matrimonial life is made for us two.</p>
                            <p class="mb-0">So bring an extra bill, can be big or small,</p>
                            <p class="mb-0">And join in the fun dance, there is room for us all.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/empty.street.jpg' %}" alt="sophia_and_cris" />
                    </div>
                </div>
            </div>
        </section>