         <!-- Wedding Sponsors Section -->
        <section class="page-section bg-yellow" id="sponsors">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sponsors</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rhodnie Manalo</td>
                                    <td>Angelica Morales</td>
                                </tr>
                                <tr>
                                    <td>Jody Reboja</td>
                                    <td>Lourdes Reboja</td>
                                </tr>
                                <tr>
                                    <td>Darwin dela Cruz</td>
                                    <td>Ivy Blackwell</td>
                                </tr>
                                <tr>
                                    <td>Charlie dela Cruz</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Darwin delos Santos</td>
                                    <td>Celeste Ariola</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>