        <!-- Wedding Sponsors Section -->
        <section class="projects-section bg-yellow" id="sponsors">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Wedding Sponsors</h1>
                            <p class="text-black-50 my-5 mb-0">Guiding lights, with wisdom so rare,</p>
                            <p class="text-black-50 mb-0">With open hearts and love to share.</p>
                            <p class="text-black-50 mb-0">Through every season, their kindness has shown,</p>
                            <p class="text-black-50 mb-0">A love like theirs has helped ours be grown.</p>
                            <p class="my-5 mb-0">With deep gratitude, we honor this bond,</p>
                            <p class="mb-0">For the love they have given, so steady and strong.</p>
                            <p class="mb-0">In our journey ahead, their presence remains,</p>
                            <p class="mb-0">A blessing forever, through sunshine and rain.</p>
                        </div>
                    </div>
                    <div class="card col-xl-6 col-lg-7">
                       <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Rhodnie Manalo</td>
                                    <td>Angelica Morales</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Jody Reboja</td>
                                    <td>Lourdes Reboja</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Darwin dela Cruz</td>
                                    <td>Ivy Blackwell</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Rodel Aquino</td>
                                    <td>Charlie dela Cruz</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Darwin delos Santos</td>
                                    <td>Celeste Ariola</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>