        <!-- Wedding Party Section -->
        <section class="projects-section" id="wedding-party">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="card col-xl-6 col-lg-7">
                       <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Groomsmen</th>
                                    <th scope="col">Bridespeople</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Dominic Perry-Brewer</td>
                                    <td>Nick Frymann</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Christian Ward</td>
                                    <td>Samantha Benetti</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Oliver Hayes</td>
                                    <td>Janier Manalo</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Umed Miah</td>
                                    <td>Ava Manalo</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Chris Novell</td>
                                    <td>Francesca dela Cruz</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Daniel Stock</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Charles Ritchie</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="featured-text text-center">
                            <h1>Wedding Party</h1>
                            <p class="text-black-50 my-5 mb-0">They've walked beside us through laughter and tears,</p>
                            <p class="text-black-50 mb-0">Through life’s winding roads and all of its years.</p>
                            <p class="text-black-50 mb-0">Our dearest friends, our family so true,</p>
                            <p class="text-black-50 mb-0">On this special day, they will stand with us too.</p>
                            <p class="my-5 mb-0">So here they are, our circle so wide</p>
                            <p class="mb-0">Our anchors, our joy, our hearts filled with pride.</p>
                            <p class="mb-0">With love in their hearts and smiles oh so bright,</p>
                            <p class="mb-0">They'll all help us during the wedding rites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>